.login-box {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login-box h3 {
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #111827;
  color: white;
  border: none;
  cursor: pointer;
}

.login-box button:hover {
  background: #2563eb;
}

/* LOGIN & SIGNUP STYLES */
.login-box {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #111827;
  color: white;
  border: none;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}


.login-box button:hover {
  background: #2563eb;
}

/* Floating WhatsApp */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  z-index: 999;
  text-decoration: none;
}

.whatsapp-float:hover {
  background: #1ebe5d;
}

