.login-box {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login-box h3 {
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #111827;
  color: white;
  border: none;
  cursor: pointer;
}

.login-box button:hover {
  background: #2563eb;
}

/* LOGIN & SIGNUP STYLES */
.login-box {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #111827;
  color: white;
  border: none;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}


.login-box button:hover {
  background: #2563eb;
}

/* BIG WhatsApp Floating Button */
.whatsapp-float {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background: #25d366;
  color: #fff;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.35);
  z-index: 9999;
}

/* Tap feedback */
.whatsapp-float:active {
  transform: scale(0.95);
}



